.App {
  width: 80%;
  margin-top: 32px;
  padding: 0 4px;
  margin: auto;
  overflow-x: hidden;
}
.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow-x: hidden;
  min-height: 100vh;
}
